.modal-window{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .3);

  &_active{
    display: flex;
  }

  &__form{
    min-width: 200px;
    min-height: 200px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  &__text{
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid burlywood;
  }

  &__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}